{% include"admin/header.html" %} 
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Font from website</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Font</a></li>
              <!-- <li class="breadcrumb-item active">Dashboard v1</li> -->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <form action="" method="post">
          <div class="mb-3 col-md-6">
            <label for="web-source" class="form-label">Get Font from :</label>
            <input type="text" class="form-control" id="web-source" name="web-source" placeholder="ex www.google.com">
          </div>
          <button type="submit" class="btn btn-primary">Get Font</button>
        </form>
        <form>
          <div class="mb-3">
            <label for="fontWebResult" class="form-label">Result</label>
            <textarea type="text" class="form-control" id="fontWebResult" disabled>{% if jenisfont != '' %} {{fontFromWebsite}} {% endif %}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save to DB</button>
        </form>
        
        <hr>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include"admin/footer.html" %}